.pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 260px;
}

.page-link {
  display: flex;
  font-size: 20px;
  border:1px solid gray;
  text-decoration: none;
  flex-direction:row;
  width: 40px;
  list-style: none;
  padding: 3px 5px;
}

