@import '../../shared/main-styles.scss';

.search-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-search {
  @include title;
}

.button-find-beers {
  margin-left: 860px;
  margin-top: -115px;
  margin-bottom: 40px;
  @include button-circle;
}

.button-find-beers:hover {
  background-color: $button-positive-hover;
}

.input {
  width: 220px;
  height: 10px;
  padding: 15px 10px;
  font-size: 15px;
  border: 2px solid $input-border-color;
  outline: 0;
  color: $input-text-color;
}

.select {
  margin-right: 10px;
  border-radius: 8px;
  outline: 0;
  margin-bottom: 20px;
  width: 200px;
  height: 35px;
  cursor: pointer;
  background-color: whitesmoke;
  border: 2px solid gray;
}

.errors {
  color: red;
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: row;
  margin-left: 230px;
  margin-top: -25px;
}

.search-beers-button {
  background-color: $button-positive-color;
  @include button;
  margin-top: -15px;
  margin-left: 30px;
}

.search-beers-button:hover {
  background-color: $button-positive-hover;
}

.prevous-button {
  background-color: $button-previous-page-color;
  width: 170px;
  @include button;
}

.prevous-button:hover {
  background-color: $button-previous-page-color-hover;
}

.next-button {
  background-color: $button-positive-color;
  @include button;
  margin-right: 50px;
  width: 170px;
}

.next-button:hover {
  background-color: $button-positive-hover;
}

.navigation-page-buttons {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 50px;
  cursor: pointer;
}

.beers-per-page {
  margin-left: 800px;
  width: 40px;
  border: 2px solid gray;
  outline: 0;
}
