@import '../../shared/main-styles.scss';

.search-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-search {
  @include title;
}

.button-find-beers {
  margin-left: 860px;
  margin-top: -145px;
  margin-bottom: 40px;
  @include button-circle;
}

.button-find-beers:hover {
  background-color: $myDarkGreen;
}

.input {
  width: 220px;
  height: 10px;
  padding: 15px 10px;
  font-size: 15px;
  border: 2px solid $myGreen;
  outline: 0;
  color: $myBlack;
}

.select {
  margin-right: 10px;
  border-radius: 8px;
  outline: 0;
  margin-bottom: 20px;
  width: 200px;
  height: 35px;
  cursor: pointer;
  background-color: $mySmokewhite;
  border: 2px solid $myGray;
}

.errors {
  color: $myRed;
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: row;
  margin-left: 230px;
  margin-top: -25px;
}

.search-beers-button {
  background-color: $myLightGreen;
  @include button;
  margin-top: -15px;
  margin-left: 30px;
}

.search-beers-button:hover {
  background-color: $myDarkGreen;
}

.previous-button {
  background-color: $myRed;
  width: 170px;
  @include button;
}

.previous-button:hover {
  background-color: $myDarkRed;
}

.next-button {
  background-color: $myLightGreen;
  @include button;
  margin-right: 50px;
  width: 170px;
}

.next-button:hover {
  background-color: $myDarkGreen;
}

.navigation-page-buttons {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 50px;
  cursor: pointer;
}

.beers-per-page {
  margin-left: 800px;
  width: 40px;
  border: 2px solid $myGray;
  outline: 0;
}

.button-clean-filter {
  width: 130px;
  height: 30px;
  border: 2px solid $myGray;
  opacity: 0.6;
  outline: 0;
  background-color: $mySmokewhite;
}

.button-clean-filter:hover {
  opacity: 1;
}
