.card {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.image{
  margin-top: 80px;
  height: 500px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  opacity: 0.8;
}

