@import '../../shared/main-styles.scss';

.beer-day-page {
  display: flex;
  flex-direction: column;
}

.title-beer-day {
  @include title;
}

.button-choose {
  margin-top: 40px;
  @include button-circle;
  margin-bottom: 30px;
  align-self: center;
}

.button-choose:hover {
  background-color: $myDarkGreen;
}

.random-beer {
  margin-left: 150px;
  animation: showInFromNone 1s linear;
}
