$myBlack: #000000;
$mySmokewhite: #f5f5f5;
$myGray: #808080;
$myWhite: #ffffff;
$myRed: #ff0000;
$myDarkRed: #8b0000;
$myYellowGreen: #9acd32;
$myGreen: #008000;
$myLightGreen: #4caf50;
$myDarkGreen: #3e8e41;
$myMaroon: #800000;
$myGold: #ffd700;
$myLightGray: #d3d3d3;

$text-size: large;

@mixin title {
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
  font-family: Fantasy, Arial, Times, Serif;
  margin-top: 80px;
  color: $myBlack;
}

@mixin button-circle {
  color: $myWhite;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: 0;
  border: none;
  background-color: $myLightGreen;
  font-size: 15px;
  cursor: pointer;
}

@mixin button {
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  color: $myWhite;
  font-size: 14px;
  text-align: center;
  outline: 0;
  border-radius: 8px;
  cursor: pointer;
}
