@import '../../main-styles.scss';

.beer-card {
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  min-height: 450px;
  flex-direction: row;
}

.beer-text {
  text-align: justify;
  width: 60%;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.text {
  font-size: $text-size;
  color: $myBlack;
}

.beer-img {
  min-height: 400px;
  display: flex;
  width: 30%;
  margin-left: 20px;
}

.img {
  width: 40%;
  height: 380px;
  opacity: 0.7;
  margin: 0;
}

.no-photo {
  margin-top: 180px;
  display: flex;
  margin-right: 80px;
  font-size: 2rem;
}

strong {
  color: $myMaroon;
}
