.img {
  width: 25%;
}

.text-beer {
  width: 60%;
  float: right;
  color: black;
  text-align: justify;
  line-height: 35px;
}

.beer {
  // border-bottom: 2px solid gray;
  margin-top: 20px;
  max-width: 680px;
  color: gray;
  font-size: 20px;
  margin-left: 40px;
  text-align: justify;
}
