@import '../../main-styles.scss';

.links-button {
  background-color: $navbar-bg-color;
  width: 25%;
  padding: 15px 30px;
  text-align: center;
  color: $navbar-text-color;
  outline: 0;
  font-size: 18px;
  border: none;
  display: block;
}

.links-button:hover {
  background-color: lightgray;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  width: 1000px;
  height: 60px;
}
