@import '../../main-styles.scss';

.links-button {
  background-color: gray;
  display: block;
  width: 25%;
  padding: 15px 30px;
  text-align: center;
  color: white;
  outline: 0;
}

.links-button:hover {
  background-color: lightgray;
}

.nav {
  display: flex;
  position: fixed;
  width: 1000px;
  top: 0;
}