@import '../../main-styles.scss';

.icon {
  color: $myYellowGreen;
  cursor: pointer;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 620px;
  bottom: -70px;
  display: flex;
  position: relative;
}

.icon:hover {
  opacity: 0.6;
}
