@import '../../main-styles.scss';

.icon {
  color: $myYellowGreen;
  cursor: pointer;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 620px;
  bottom: -70px;
  display: flex;
  position: relative;
  animation: circle 3s linear;
}

.icon:hover {
  opacity: 0.6;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
