@import '../../main-styles.scss';

.icon {
  color: $myYellowGreen;
  cursor: pointer;
  font-size: 1.75rem;
  margin-top: 30px;
  bottom: -70px;
  position: relative;
}

.icon:hover {
  opacity: 0.6;
}

.spinner-anim {
  animation: circle 500ms linear;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
    font-size: 40px;
  }
  100% {
    transform: rotate(360deg);
    font-size: 2, 3rem;
  }
}
