@import '../../shared/main-styles.scss';

.title-favourite-beers {
  @include title;
}

.favourite-beer {
  margin-left: 70px;
}

.line {
  border-bottom: 3px solid gray;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.4;
}
