@import '../../shared/main-styles.scss';

.title-favourite-beers {
  @include title;
}

.favourite-beer {
  margin-left: 70px;
  margin-right: 90px;
}

.line {
  border-bottom: 2px solid $myGray;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.4;
}

.opacity-anim {
  animation: fadeInFromNone 1500ms linear normal;
}

@keyframes fadeInFromNone {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
