@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color:whitesmoke;
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Roboto" ;
}
