@import '../../main-styles.scss';

.icon-position {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  @media only screen and (max-width: 600px) {
    margin-left: -100px;
  }
}

.delete-beer {
  border: none;
  outline: 0;
  color: $myRed;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: $mySmokewhite;
  margin-top: 50px;
  animation: showInFromNone 2s linear;
  &:hover {
    opacity: 0.5;
  }
}

@keyframes showInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
