@import '../../main-styles.scss';

.delete-beer {
  border: none;
  outline: 0;
  color: $myRed;
  font-size: 30px;
  cursor: pointer;
  background-color: $mySmokewhite;
  margin-left: 800px;
  margin-top: 50px;
}

.delete-beer:hover {
  opacity: 0.5;
}
